@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #d47946;
  --background: #191d20;
  --button-radius: 4px;
  --text-opacity: rgba(255, 255, 255, 0.629);
  --background-opacity: #272a2f;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: var(--background);
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.highlight-text {
  color: var(--secondary-color);
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--background);
}

nav .navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 14px 24px;
}

nav .navbar ul {
  display: none;
  list-style: none;
  gap: 20px;
}

nav .navbar ul a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

nav .navbar ul a:hover {
  color: #d47946;
}

.contact-section {
  margin: 100px 0;
}

.contact-section {
  margin: 100px 0;
  color: white;
}

.contact-section img {
  width: 100%;
  margin-bottom: 100px;
}

.loc .icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.loc .icon h1 {
  font-size: 20px;
  margin-top: 12px;
}

.loc p {
  color: white;
}

.loc {
  background-color: var(--background-opacity);
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.par {
  position: relative;
}

.par img {
  opacity: 0.3;
}

.acs {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

a {
  color: white;
}

@media (min-width: 768px) {
  .contact-section img {
    height: 400px;
    object-fit: cover;
  }
  .acs {
    margin-top: 150px;
  }
  .loc {
    grid-template-columns: repeat(3, 1fr);
  }
  nav .navbar i {
    display: none;
  }
  nav .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .tt {
    display: flex;
    justify-content: center;
    gap: 14px;
  }
  .acs {
    gap: 20px;
  }
  .b {
    margin-top: 20px;
  }
  .cu {
    font-size: 50px;
    font-weight: bold;
  }
  .contact-section img {
    height: 400px;
    object-fit: cover;
  }
  nav .navbar i {
    display: none;
  }
  nav .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}
