@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #d47946;
  --background: #191d20;
  --button-radius: 4px;
  --text-opacity: rgba(255, 255, 255, 0.629);
  --background-opacity: #272a2f;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: var(--background);
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.highlight-text {
  color: var(--secondary-color);
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--background);
}

nav .navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 14px 24px;
}

nav .navbar ul {
  display: none;
  list-style: none;
  gap: 20px;
}

nav .navbar ul a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

nav .navbar ul a:hover {
  color: #d47946;
}

.hero {
  color: white;
  padding-top: 140px;
}

.hero h1 {
  font-size: 30px;
  margin-bottom: 14px;
}

.hero p {
  font-size: 14px;
  margin-top: 10px;
  color: var(--text-opacity);
}

.hero img {
  width: 100%;
  border-radius: 7px;
}
.cta {
  color: white;
}

.loc .icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.loc .icon h1 {
  font-size: 20px;
  margin-top: 12px;
}

.loc p {
  color: white;
}

.loc {
  background-color: var(--background-opacity);
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .loc {
    grid-template-columns: repeat(3, 1fr);
  }
  nav .navbar i {
    display: none;
  }
  nav .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .loc {
    margin: 100px 0;
  }
  .desc {
    width: 300px;
  }
  .center {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .hero p {
    font-size: 17px;
    margin-top: 10px;
    color: var(--text-opacity);
  }
  nav .navbar i {
    display: none;
  }
  nav .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}
